<form name="regForm" novalidate>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email address" ng-model="$ctrl.user.email"
    required>
    <span ng-if="regForm.email.$invalid && regForm.email.$touched">
      Type a valid email address: example@domain.com
    </span>
  </div>

  <div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" ng-model="$ctrl.user.firstName"
     required minlength="4" ng-maxlength="14">
    <span ng-if="regForm.firstName.$invalid && regForm.firstName.$touched">
      Type a Name with at least 4 characters and maximum 14 characters
    </span>
  </div>

  <div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name"  ng-model="$ctrl.user.lastName"
     required minlength="4" ng-maxlength="14">
    <span ng-if="regForm.lastName.$invalid && regForm.lastName.$touched">
      Type a Name with at least 4 characters and maximum 14 characters
    </span>
  </div>

  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="tel" class="form-control" id="phone"name="phone" placeholder="Phone format e.g. 123-123-1234" ng-model="$ctrl.user.phone"
     required pattern="(\d{3})-(\d{3})-(\d{4})">
    <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
      Invalid phone format, you should submit with the format: 123-123-1234.
    </span>
  </div>

  <div class="form-group">
    <label for="favoriteItem">Menu ID (short name)</label>
    <input type="text" class="form-control" id="favoriteItem" name="favoriteItem" placeholder="Menu ID with uppercase e.g. B1"  ng-model="$ctrl.user.favoriteItem"
     required minlength="2" ng-maxlength="4">
    <span ng-if="regForm.favoriteItem.$invalid && regForm.favoriteItem.$touched">
      Menu ID with at least 2 characters and maximum 4 characters
    </span>
    <span ng-if="$ctrl.wrongMenuItem">
      No such menu number exists
    </span>
  </div>

  <button type="submit" class="btn btn-default" ng-click="$ctrl.submit()" ng-disabled="regForm.$invalid">
    Submit
  </button>
  {{ $ctrl.resultMessage }}
</form>     
